{% extends '::base.html.twig' %}

{% block body -%}

    <div class="col-sm-8 col-sm-offset-2 aff">
        <h2>Modifier Commande ID {{ entity.id }}</h2>

        <form action="{{ path('commande_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <input type="hidden" name="_method" value="PUT" />
            <div>
                {{ form_errors(edit_form.modele) }}
                {{ form_widget(edit_form.modele, { 'attr': {'class': 'form-control'} }) }}
            </div><br>

            <div>
                {{ form_errors(edit_form.date) }}
                {{ form_widget(edit_form.date, { 'attr': {'class': 'form-control'} }) }}
            </div><br>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            <br>
            <br>

            {{ form_end(edit_form) }}

        </form>

    </div>

{% endblock %}
