{% extends '::base.html.twig' %}

{% block body -%}

<div class="col-sm-8 col-sm-offset-2 aff">
    <h2>Modifier produit ID {{ entity.id }}</h2>

    <form action="{{ path('produit_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <input type="hidden" name="_method" value="PUT" />
        <div>
            {{ form_errors(edit_form.reference) }}
            {{ form_widget(edit_form.reference, { 'attr': {'class': 'form-control', 'placeholder': "Référance"} }) }}
        </div><br>

        <div>
            {{ form_errors(edit_form.type) }}
            {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control', 'placeholder': "Type de produit"} }) }}
        </div><br>

        <div>
            {{ form_errors(edit_form.nbPiece) }}
            {{ form_widget(edit_form.nbPiece, { 'attr': {'class': 'form-control', 'placeholder': "Nombre de piéces"} }) }}
        </div><br>

        <div>
            {{ form_errors(edit_form.prix) }}
            {{ form_widget(edit_form.prix, { 'attr': {'class': 'form-control', 'placeholder': "Prix"} }) }}
        </div><br>

        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
        <br>
        <br>

        {{ form_end(edit_form) }}

    </form>

</div>

{% endblock %}
